.timer-view {
  max-width: 500px;
  min-width: 350px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.button-row {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.light-mode {
  color: var(--textColorDark);
  border: 1px solid #000000;
}

.timer-view.light-mode {
  background-color: var(--backgroundColorLightGray);
}

.dark-mode {
  color: var(--textColorBright);
  border: 1px solid #ffffff;
}
.timer-view.dark-mode {
  background-color: var(--backgroundColorLightBlack);
}
