#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.time_1 {
  font-size: 3rem;
}

.time_2 {
  font-size: 2rem;
}

.button-row {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}

input {
  border: solid 1px #ccc;
  padding: 0.3rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
