:root {
  --backgroundColorDark: #313131;
  --backgroundColorBright: #ffffff;
  --textColorDark: #000000;
  --textColorBright: #ffffff;
  --backgroundColorLightGray: #e0e0e0;
  --backgroundColorLightBlack: #424242;
}

#root {
  width: 1000px;
  max-width: 1080px;
  margin: auto auto;
}

.display-timer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

.light-mode {
  background-color: var(--backgroundColorBright);
  color: var(--textColorDark);
}

.dark-mode {
  background-color: var(--backgroundColorDark);
  color: var(--textColorBright);
}
